llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-milvus
llama-index-readers-file
pymilvus
fastapi
uvicorn[standard]
pydantic
nest_asyncio
chardet
numpy
torch
transformers
huggingface_hub
tqdm
jieba
sentence-transformers
pypdf
pymupdf
python-docx
requests
